body{
    background-image: url('/static/assets/INDEX/colors.png');
    font-family: 'Luckiest Guy', cursive;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.login_popup {
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  
  .login_popup .box {
    background-color: #fff;
    z-index: 10;
    padding: 0 10px;
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
  }

  .login_popup .box .form {
    padding: 40px 30px;
  }
  
  .login_popup .box .form h1 {
    color: #000;
    font-size: 30px;
    margin: 0 0 30px;
  }
  
  .popup_input {
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    /* border: 2px solid black; */
    border-bottom: 1px solid #ccc;
    font-size: 1px;
    color: #000000cc;
    border-radius: 15px;
    padding: 5px;
    background-color: #f2f2f2;
  
  }
  
  .popup_input:hover {
    border: 2px solid black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 1rem;
    text-align: center;
  }
  
  .popup_input:focus {
    outline: none;
  }
  
  .btn {
    width: 100%;
    background-color: rgb(223, 114, 223);
    ;
    margin-top: 15px;
    height: 45px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
  }
  