{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% block title %}<title>MIND WEB</title>{% endblock title %}
{% block cssfile %}
<link rel="stylesheet" href=" {% static './css_files/reg_page.css' %} ">
{% comment %} <link rel="stylesheet" href=" {% static './css_files/index.css' %} "> {% endcomment %}
{% endblock cssfile %}

{% block body %}
<body>
    <form  method="post">
    {% csrf_token %}
    <div class="login_popup" id="popup_form">
        <div class="box">
            <div class="form">
                <h1>Login Form </h1>
                <div class="form_group">
                    <input type="text" placeholder="Enter your username" class="popup_input" name ="name">
                </div>
                <div class="form_group">
                    <input type="password" placeholder="Enter your password" class="popup_input" name="password">
                </div>

                
                <button class="btn" type="submit">Login</button>
                <a href="reg_page">Make a new account.</a>
            </div>
        </div>
    </div> 
</form>

</body>
{% endblock body %}
{% comment %} <script src=" {% static './js_files/login_page.js' %} "></script> {% endcomment %}